@keyframes visible {
  from {
    opacity: 0;
    transform: translateY(5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes hidden {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(5px);
  }
}

.content {
  &[data-state="open"] {
    animation: visible var(--transition-fast);
  }

  &[data-state="closed"] {
    animation: hidden var(--transition-fast);
  }
}

.trigger {

  & :global(.suffix) {
    transition: .3s !important;
  }

  &[data-state="open"] {
    & :global(.suffix) {
      transform: rotateX(180deg);
    }
  }

  &[data-state="close"] {
    & :global(.suffix) {
      transform: rotateX(0);
    }
  }
}

.item {
  &.itemActive {
    color: var(--color-white);
    background-color: var(--color-primary);
  }
}