.settingsGroup {
  display: flex;
  flex-wrap: wrap;
  padding: 8px;
  border-radius: var(--radius-xl);
  box-shadow: inset 0 0 0 1px var(--color-border);

  & > * {
    margin-right: 12px !important;
    padding-right: 8px !important;
    border-right: 1px solid var(--color-border) !important;

    &:last-child {
      margin-right: 0 !important;
      padding-right: 0 !important;
      border-right: 0 !important;
    }
  }
}