.header {
  border-bottom: 1px solid var(--color-border);

  & > :global(.container) {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .headerRight {
    margin-left: auto;
    flex-wrap: wrap;
  }
}

.navigation {
  margin-right: 24px;

  @media all and (max-width: 960px) {
    display: none;
  }
}